.listItem {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid var(--colors-interface-black);
}

.listBtn {
  display: flex;
  align-items: center;
}
