.input {
  padding: 3px 4px;
  background: var(----colors-interface-blue);
  border: 1px solid #141414;
  border-radius: var(--common-border-radius);
}

input:focus {
  border: 1px solid var(--colors-interface-blue);
  outline: none;
}

.input::placeholder {
  color: var(--gray);
}

.error {
  border: 1px solid var(--red);
}

.inputWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;

  color: var(--red);
}
