.inputCheck {
  display: none;
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #e8e8e8;
  border-radius: 50px;
  cursor: pointer;
}
.inputCheck:hover + label {
  background-color: #c9d1d3;
  border-color: #c9d1d3;
}

.inputCheck:checked + label {
  background-color: #4dd599;
  border-color: #4dd599;
}
