.header {
  margin-top: 15px;
  padding: 20px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.menu {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  min-width: 1280px;
}

.menuLink {
  text-decoration: none;
  padding: 0;
  color: var(--colors-interface-grey);
}
.menuLink:active {
  color: var(--colors-interface-white);
}
